* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  /* background-image: url('./assets/backgroundImage.JPG');
  background-size: cover;
  object-fit: cover; */
  color: white;
  overflow: hidden;
}

@media screen and (max-width: 430px) {
  body {
    overflow: scroll;
  }
}

