.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 26vw 60vw;
  gap: 20px;
}

.grid-item {
  padding: 10px;
}

.solar-system, .spotify-clone, .talk-buddy {
  background: white;
  width: 100%;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  border-radius: 2rem;
  margin-left: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.solar-system:hover, .spotify-clone:hover, .talk-buddy:hover {
  transform: scale(1.1);
}

.solar-system[data-isOpen="true"], .spotify-clone[data-isOpen="true"], .talk-buddy[data-isOpen="true"] {
  height: 25rem;
}

h1 {
  font-size: 2rem;
  width:60vw;
  background-color: transparent;
  color: white;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}

.solar-system-text {
  margin-top: 0.5rem;
  width:60vw;
}

.content {
  margin-left: 2rem;
}
