/* MyProjects.css */
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  position: relative;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%; /* Ensure the carousel takes up the full height */
  position: relative; /* Make the position relative */
}

.prev,
.next {
  position: absolute;
  top: 50%; /* Position the arrows in the middle vertically */
  transform: translateY(-50%); /* Center the arrows vertically */
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 3.5rem;
  z-index: 1;
}

.prev {
  left: -0.2rem;
}

.next {
  right: -0.2rem;
}

.slide {
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.slide.active {
  display: block;
  opacity: 1;
}

.video-mask {
  border-radius: 2rem;
  overflow: hidden;
  width: 102%;
  height: 65vh;
}

.carousel-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video fills the container while maintaining aspect ratio */
}

.text {
  margin-top: 1rem;
  text-align: center;
  width: 62%;
  padding: 1.2rem;
  font-size: 1.2rem;
  background-color: transparent;
  opacity: 1;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: justify;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.project-title {
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 25vw;
  padding: 0.5rem;
  background-color: transparent;
  opacity: 1;
  color: white;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}

.paragraph-text {
  font-size: 1.06rem;
}

.technologies {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.3rem;
  margin-bottom: -0.5rem;
}

@media screen and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .project-title {
    font-size: 1.2rem;
    width:65vw;
    margin-top: 3rem;
    margin-bottom: -3rem;
  }
 .text{
  height:15rem;
  width:80vw;
  margin-bottom: 10rem;
  height: 60vh;
 }

 .carousel{
  margin-top:7rem;
 }
 .carousel-video {
  width:80vw;
 }

 .video-mask {
  width:80vw;
  height:30vh;
  margin-bottom: 5rem;
 }
.paragraph-text {
  font-size: 0.8rem;
  line-height: normal;
}
 }
